CONFIG:
  oinkcode: 123456789012345678901234567890123456789
  verbose: false
  debug: false
  pulledpork:
    rules-urls:
      opensource:
        url: https://www.snort.org/reg-rules/|opensource.gz
        oinkcode: true
      vrt-rules:
        url: https://www.snort.org/reg-rules/|snortrules-snapshot.tar.gz
        oinkcode: true
      community:
        url: https://s3.amazonaws.com/snort-org/www/rules/community/|community-rules.tar.gz
    ip-blacklists:
      - http://labs.snort.org/feeds/ip-filter.blf
      - http://malc0de.com/bl/IP_Blacklist.txt
      - http://www.malwaredomainlist.com/hostslist/ip.txt
    path: /opt/bin/pulledpork.pl
    # Note that setting this value will disable all non-label rulesets (ET, etc)  
    # ruleset: security
SENSORS:
  Sample:
    ipaddress: 10.0.0.2
    notes: "xxxxxxxx"
    hostname: sample.corp.com
    distro: FreeBSD-8.1                                                                                                                                                                                                                
    snort_version: 2.9.2.3

  DMZ:
    ipaddress: 10.0.0.3
    notes: "DMZ Sensor"
    hostname: dmz.corp.com
    distro: FreeBSD-8.1                                                                                                                                                                                                                
    snort_version: 2.9.2.3

